* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .container {
  display: grid;
  justify-content: center;
} */

.container {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  grid-column-gap: 0.5px;
  grid-row-gap: 0.5px;
}
/* .grid {
  background-color: #444;
  color: #fff;
  padding: 25px;
  font-size: 3rem;
} */

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: #55d4eb;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  min-height: 100vh;
  background-color: #a0c263;
}

.main {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  min-height: 100vh;
  background-color: #f5c531;
}

/* header button {
  justify-self: end;
}

header nav {
  justify-self: start;
} */

/* #btndiv {
  background-color: #141919;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: space-between;
  width: 900px;
  height: 300px;
  vertical-align: baseline;
}

.homebtn {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
  width: 900px;
}

.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.searchbtn {
  display: flex;
  border: 1px solid blue;
  justify-content: space-around;
  width: 900px;
}

#mainDisplay {
  color: #fff;
  background-color: #5995da;
  padding: 20px 0;
  display: flex;
}

#sidePanel {
  background-color: pink;
  display: flex;
  vertical-align: baseline;
}
 */
