* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

#btndiv {
  background-color: #141919;
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 300px;
  /* vertical-align: baseline; */
}

.homebtn {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
  width: 900px;
}

.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: flex-end;
}

.searchbtn {
  display: flex;
  border: 1px solid blue;
  justify-content: space-around;
  width: 900px;
}

#mainDisplay {
  color: #fff;
  background-color: #5995da;
  padding: 20px 0;
  display: flex;
}

#sidePanel {
  background-color: pink;
  display: flex;
  vertical-align: baseline;
}

/* .menu {
  border: 1px solid #fff; 
  width: 900px */
