* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#btndiv {
  background-color: #141919;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  vertical-align: baseline;
}

#homebtn {
  display: flex;
  border: 1px solid red;
  justify-content: space-around;
  width: 900px;
}

#searchbtn {
  display: flex;
  border: 1px solid blue;
  justify-content: space-around;
  width: 900px;
}

#mainDisplay {
  color: #fff;
  background-color: #5995da;
  padding: 20px 0;
  display: flex;
}

#sidePanel {
  background-color: pink;
  display: flex;
  vertical-align: baseline;
}

/* .menu {
  border: 1px solid #fff; 
  width: 900px */
